version: 2.1


executors:
  python-node:
    docker:
      - image: python:3.7.3-stretch


jobs:
  build:
    executor: python-node   
    working_directory: ~/repo
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "requirements.txt" }}
      - run:
          name: install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install --upgrade pip && pip install -r requirements.txt   
            # make install
            # Install hadolint
            # wget -O /bin/hadolint https://github.com/hadolint/hadolint/releases/download/v1.16.3/hadolint-Linux-x86_64 &&\
            # chmod +x /bin/hadolint
      - save_cache:
          paths: 
            - ./venv
          key: v1-dependencies-{{ checksum "requirements.txt" }}
      # run lint!
      - run:
          name: run lint
          command: |
            . venv/bin/activate
              make lint 
      # run test if test files are available
      - run:
          name: run test
          command: |
            . venv/bin/activate
            # make test

  