name: GCP Instance Terraform Deployment

on: 
  push:
    branches:
      - main
    paths:
      - simplesite/**
  workflow_dispatch:
env:
  region: ${{ vars.REGION }}
  project: ${{ vars.PROJECT }}

jobs:
  Build_Test:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Git repo
      uses: actions/checkout@v3


    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Format with black
      run: |
        pip install black
        # format the files with black
        black .
    - name: Lint with flake8
      run: |
        pip install flake8
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    - name: Sort imports
      run: |
        pip install isort
        # stop the build if there are Python syntax errors or undefined names
        isort .
        isort --check --diff .
      continue-on-error: false 
    - name: Run tests
      continue-on-error: false 
      run: |
        # Run application test cases
        python manage.py test

    # If connecting to databases, migrate database to reflect current app data model
    # - name: Run migrations
    #   run: |
    #     export DATABASE_URL=postgres://${{ matrix.database-user }}:${{ matrix.database-password }}@${{ matrix.database-host }}:${{ matrix.database-port }}/${{ matrix.database-name }}
    #     export SECRET_KEY=test-secret-key
    #     export DEBUG=1
    #     export ALLOWED_HOSTS=localhost
    #     export GITHUB_WORKFLOW=True
    #     export MODE=workflow
    #     python manage.py makemigrations
    #     python manage.py migrate
    #     python manage.py migrate --run-syncdb
    #     python manage.py check
    
    - id: "auth"
      name: "Authenticate to Google Cloud"
      uses: "google-github-actions/auth@v2"
      with:
        credentials_json: "${{ secrets.GOOGLE_CREDENTIALS }}"
        create_credentials_file: true
        export_environment_variables: true

    - name: Setup Cloud SDK
      uses: "google-github-actions/setup-gcloud@v2"
     
    - name: Use gcloud CLI
      run: gcloud info

    - name: Docker auth
      run: |
        echo "${{ vars.REGION }}"
        gcloud auth configure-docker ${{ env.region }}-docker.pkg.dev --quiet

    - name: Extract metadata for the Docker image
      id: meta
      uses: docker/metadata-action@98669ae865ea3cffbcbaa878cf57c20bbf1c6c38
      with:
        images: ${{ env.region }}-docker.pkg.dev/${{ env.project }}/${{ vars.REPO}}/${{ vars.IMAGE }}


    - name: Build and push the Docker image
      uses: docker/build-push-action@v3
      with:
        context: .
        push: true
        tags: |
          ${{ env.region }}-docker.pkg.dev/${{ env.project }}/${{ vars.REPO}}/${{ vars.IMAGE }}:latest
          ${{ env.region }}-docker.pkg.dev/${{ env.project }}/${{ vars.REPO}}/${{ vars.IMAGE }}:${{ github.sha }}
        labels: ${{ steps.meta.outputs.labels }}
        

  deploy:
    name: Deploy to k8s
    needs: [Build_Test]
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Git repo
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
        fetch-tags: true
    
    - name: Checkout Git repo
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
        fetch-tags: true

    - name: install kubectl
      uses: azure/setup-kubectl@v4
      with:
        version: latest
      id: install   
      
    - id: "auth"
      name: "Authenticate to Google Cloud"
      uses: "google-github-actions/auth@v2"
      with:
        credentials_json: "${{ secrets.GOOGLE_CREDENTIALS }}"
        create_credentials_file: true
        export_environment_variables: true

    - name: Setup Cloud SDK
      uses: "google-github-actions/setup-gcloud@v2"

    - name: install missing component
      run: gcloud components install gke-gcloud-auth-plugin

    - name:
      run: |
        gcloud container clusters get-credentials ${{ vars.CLUSTER }} --region ${{ vars.CLUSTER_REGION}} --project ${{ env.project }}
        kubectl get nodes
        ls -a

    - name: Deploy to k8s cluster
      uses: Azure/k8s-deploy@v5
      with:
        namespace: 'default'
        manifests: |
          deployment.yaml
        images: '${{ env.region }}-docker.pkg.dev/${{ env.project }}/${{ vars.REPO}}/${{ vars.IMAGE }}:${{ github.sha }}'

        # - name: Deploy to k8s cluster
        # run:
        #   sed -i 's+GITHUB_SHA+${{ github.sha }}+g' deployment.yaml
        #   cat deployment.yaml
      




